@charset "UTF-8";

// * ==========================================================================
// * 顏色
// * ==========================================================================

$color-white: #fff;

$color-black: #141414;
$color-black-light: #343434;
$color-black-dark: #000;

$color-yellow: #ffcf00;

// * ==========================================================================
// * RWD 尺寸斷點
// * ==========================================================================

$desktop: (
  xl: 1600px,
  lg: 1440px,
  md: 1280px,
  sm: 1025px
);

$tablet: (
  lg: 1024px,
  md: 960px,
  sm: 768px
);

$phone: (
  lg: 767px,
  md: 480px,
  sm: 370px
);

// * ==========================================================================
// * 字體
// * ==========================================================================

$font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif, arial;

// * ==========================================================================
// * 字級大小
// * ==========================================================================

$font-size: (
  xl: 2rem,
  lg: 1.75rem,
  md: 1.5rem,
  sm: 1.25rem,
  xs: 1.125rem,
  base: 1rem,
  xsbase: 0.9rem
);

// * ==========================================================================
// * Focus 時的外框樣式
// * ==========================================================================

@function focusBorder($inside: false, $opacity: 0.6) {
  @if $inside == true {
    @return inset 0 0 0 0.2rem rgba($color-blue, $opacity);
  } @else {
    @return 0 0 0 0.13rem rgba($color-blue, $opacity);
  }
}

// * ==========================================================================
// * Menu 的高度
// * ==========================================================================

$menu-height: 70px;
