@charset 'UTF-8';
@import './utils/_utils.scss';

// * ==========================================================================
// * ANIMATION
// * ==========================================================================

// * Fade

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// * Accordion

.accordion-enter-active,
.accordion-leave-active {
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
  will-change: height, opacity;
}

.accordion-enter,
.accordion-leave-to {
  height: 0 !important;
  opacity: 0;
}

// * List Animation

.list-enter-active,
.list-leave-active {
  transition: all 0.75s;
}

.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateY(-15px);
}

// * Modal Animation

@keyframes modal-fade-in {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.3s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;

  .modal-container {
    transform: scale(1.1);
  }
}

.modal-container {
  transition: all 0.3s ease;

  @media screen and (min-width: 1025px) {
    animation: modal-fade-in 0.2s ease;
  }
}