@charset "UTF-8";
@import './utils/_utils.scss';

// * ==========================================================================
// * 表單元件
// * ==========================================================================

.fieldset {
  width: 100%;
  margin-bottom: 1rem;
}

.fieldset-caption {
  display: block;
  font-size: map-get($font-size, base);
  margin-bottom: 5px;
}

.fieldset-text {
  width: 100%;
  position: relative;

  &__input {
    @at-root .fieldset-text & {
      padding-right: 50px;
    }
  }

  &__btn {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    right: 0;

    &::before {
      @include fontawesome;

      content: '\f00d';
      color: $color-white;
    }
  }
}

.fieldset-tags {
  width: 100%;
  position: relative;

  &__input {
    @at-root .fieldset-tags & {
      padding-right: 50px;
    }
  }

  &__btn {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    right: 0;

    &::before {
      @include fontawesome;

      content: '\f055';
      color: $color-white;
    }
  }
}

.fieldset-abreast {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fieldset-abreast-item {
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;

  &.size-50 {
    width: calc((100% - 10px) / 2);
    flex-grow: 0;
    flex-basis: auto;
  }
}

.time-tips {
  width: 20px;
  display: block;
  text-align: center;
}
