@charset "UTF-8";
@import './utils/_utils.scss';

// * ==========================================================================
// * 表單元件
// * ==========================================================================

.fieldset {
  width: 100%;
  margin-bottom: 1rem;
}

.fieldset-caption {
  display: block;
  font-size: map-get($font-size, base);
  margin-bottom: 5px;
}

.fieldset-tags {
  width: 100%;
  position: relative;

  &__input {
    @at-root .fieldset-tags & {
      padding-right: 50px;
    }
  }

  &__btn {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    right: 0;

    &::before {
      @include fontawesome;

      content: '\f055';
      color: $color-white;
    }
  }
}

.fieldset-abreast {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.fieldset-abreast-item {
  width: calc((100% - 20px) / 2);
}

.time-tips {
  width: 20px;
  display: block;
  text-align: center;
}
