@charset "UTF-8";
@import './utils/_utils.scss';

// * ==========================================================================
// * icon 圖示
// * ==========================================================================

.has-icon {
  &::before {
    @include fontawesome;

    content: '';
  }

  // 飲食
  &.icon-food::before {
    content: '\f2e7';
  }

  // 交通
  &.icon-traffic::before {
    content: '\f207';
  }

  // 娛樂
  &.icon-recreation::before {
    content: '\f522';
  }

  // 購物
  &.icon-shopping::before {
    content: '\f07a';
  }

  // 投資
  &.icon-investment::before {
    content: '\f201';
  }

  // 醫療
  &.icon-medical::before {
    content: '\f469';
  }

  // 家居
  &.icon-home::before {
    content: '\f015';
  }

  // 生活
  &.icon-life::before {
    @include fontawesome('regular');

    content: '\f03e';
  }

  // 學習
  &.icon-learning::before {
    content: '\f02d';
  }

  // 薪水
  &.icon-salary::before {
    content: '\f155';
  }

  // 獎金
  &.icon-bonus::before {
    content: '\f3d1';
  }

  // 輔助費
  &.icon-allowance::before {
    content: '\f571';
  }

  // 利息
  &.icon-interest::before {
    content: '\f651';
  }

  // 投資獲利
  &.icon-investment-profit::before {
    content: '\f688';
  }
}
