@charset "UTF-8";
@import '../utils/_utils.scss';

// * ==========================================================================
// * 動畫
// * ==========================================================================

// * Fade

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// * Accordion

.accordion-enter-active,
.accordion-leave-active {
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
  will-change: height, opacity;
}

.accordion-enter,
.accordion-leave-to {
  height: 0 !important;
  opacity: 0;
}

// * List Animation

.list-enter-active,
.list-leave-active,
.list-move {
  transition: opacity 0.6s, transform 0.6s;
}

.list-enter-from {
  opacity: 0;
  transform: translateY(-20px);
}

.list-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}
